# Build Folders
bin/
obj/
.vs/
.vscode/
**/node_modules/

# User-Specific Files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
logs/
*.log

# Visual Studio Code
.history/
.idea/

# Dependency Cache
packages/
*.pdb

# Rider IDE
.idea/
.sln.iml

# Environment Files
appsettings.Development.json
appsettings.Local.json
appsettings.Production.json

# Publish Output
wwwroot/

# Android Studio
.gradle/
.local/
.cxx/

# IntelliJ/Android Studio
.idea/
*.iml
*.iws

# Build output
/build/
/captures/

# Gradle Wrapper
!gradle/wrapper/gradle-wrapper.jar

# Keystore files
*.jks
*.keystore

# Google Services
google-services.json

# Fastlane metadata
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/

# Firebase Crashlytics
crashlytics-build/

# Proguard
proguard-rules.pro

# Miscellaneous
.DS_Store
Thumbs.db

# .NET Specific
**/project.lock.json
**/global.json
**/packages/
**/obj/
**/bin/
**/out/
**/.vs/
**/app.publish/
**/TestResults/

# Resharper & Rider
**/*.DotSettings.user
**/*.sln.DotSettings

# ASP.NET & Blazor
wwwroot/
**/appsettings*.json

# Entity Framework
migrations/
**/*.db
